{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PMS</title>

    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.css' %}">


{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"#}
{#          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">#}
</head>
<body>
<div class="container">
    <div class="my-3"></div>
    <div class="d-flex flex-row">
        {% for node in nodes %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title"><a href="https://{{ node.node_ip_address }}:8006"
                                              target="_blank">{{ node.node_name }} ({{ node.node_ip_address }})</a></h5>
                    <h5>Proxmox - {{ node.node_version.version }}</h5>
                    <div>
                        <h3>Memory</h3>
                        Total - <b>{{ node.node_status.memory.total|div:1073741824|floatformat:"0" }} Gb</b><br>
                        Used - <b>{{ node.node_status.memory.used|div:1073741824|floatformat:"0" }} Gb</b><br>
                        Free - <b>{{ node.node_status.memory.free|div:1073741824|floatformat:"0" }} Gb</b><br>
                        <h3>CPU</h3>
                        Model - <b>{{ node.node_status.cpuinfo.model }}</b><br>
                        Sockets - <b>{{ node.node_status.cpuinfo.sockets }}</b><br>
                        CPUs - <b>{{ node.node_status.cpuinfo.cpus }}</b><br>
                    </div>
                </div>

                <div class="card-body">
                    {% if node.lxc_list %}
                        <p class="fw-bold">Контейнеры</p>
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        {% for lxc in node.lxc_list %}
                            {% if lxc.status == 'running' %}
                                <li class="list-group-item">
                                    <div class="d-flex flex-row nowrap align-items-center">
                                        <span style="color: #006b1b; font-size: 40px">&#x2022;</span>
                                        <p class=" mx-1 card-text nowrap">{{ lxc.vmid }} - {{ lxc.name }}</p>
                                    </div>
                                </li>

                            {% else %}
                                <li class="list-group-item" style="color: #888888;">
                                    <div class="d-flex flex-row nowrap align-items-center">

                                        <span style="font-size: 40px">&#x2022;</span>
                                        <p class=" mx-1 card-text nowrap">{{ lxc.vmid }} - {{ lxc.name }}</p>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    {% if node.vm_list %}
                        <p class="fw-bold">Машины</p>
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        {% for vm in node.vm_list %}
                            {% if vm.status == 'running' %}
                                <li class="list-group-item">
                                    <div class="d-flex flex-row nowrap align-items-center">
                                        <span style="color: #006b1b; font-size: 40px">&#x2022;</span>
                                        <p class=" mx-1 card-text nowrap">{{ vm.vmid }} - {{ vm.name }}</p>
                                    </div>
                                </li>

                            {% else %}
                                <li class="list-group-item" style="color: #888888;">
                                    <div class="d-flex flex-row nowrap align-items-center">

                                        <span style="font-size: 40px">&#x2022;</span>
                                        <p class=" mx-1 card-text nowrap">{{ vm.vmid }} - {{ vm.name }}</p>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        {% endfor %}
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>